.promo-title{
    font-size: medium;
    /* font-weight: 400; */
    font-style: normal;
        text-decoration-line: underline;
        font-size: 28px;
        font-weight: 500;
        margin-top: 70px;
    }

    .title.text-center.font-weight-bold{
        /* margin-bottom: 40px; */
        padding-bottom: 5px;
        /* padding-top: 1px; */

    }
    .btn-primary{
        box-shadow: none;
        padding: 8px 25px;
        border-radius: 2px;
        border: 2px solid #3c366b;
        /* background: none; */
    }
    /* .btn-primary:hover{
        background: #3c366b;
        color: #fff;
        border:2px solid #fff;
    } */
    
    #life{
        padding:40px 0;
        color: #3c366b;
    }
    .title::before{
        content: '';
        background: #3c366b;
        height: 5px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 50px;
        transform: translateY(46px);
        
    }
    ul{
        list-style-type: none;
        font-weight: lighter;
    }
    ul li{
        padding: 3px;
        font-weight: 450;
        color:black;
    }
    .div.h3{
        color: #3c366b;
        text-decoration-line: underline;
    }
    .life.img{
        justify-content: end;
    }
    .footer-content {
        flex-direction: column;
        width: 100%;
        font-size: 21px;
      }
      .social-links {
        position: static;
        margin-top: 1rem;
      }